@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./typora-lark.css";
@import "./theme.switch.css";
@import "./typora-lark-override.css";

body, #write {
    font-family: -apple-system, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei,
        Microsoft Yahei, sans-serif;
    font-size: 17px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    body, #write {
        font-family: "Times New Roman", "Songti SC", "Songti", "AR PL Sungti", serif;
    }
}
