body,
#write {
    @apply dark:bg-slate-900 bg-white dark:text-gray-50;
}

#write {
    @apply my-0 pb-0;
}

#write h3 {
    @apply flex items-center;

    svg {
        @apply mr-2 w-6 h-6 scale-75;
    }
}

#write ul,
#write li {
    @apply relative;
}

#write ul > li:not([class*="task-list-item"]):before {
    color: #3370ff;
}

html.dark #write ul > li:not([class*="task-list-item"]):before {
    color: #60a5fa;
}

html.dark #write a {
    color: #60a5fa;
}

html.dark #write code {
    @apply bg-gray-700 border-gray-500;
}